
:root {
    --primary-color: #294B29;
    --secondary-color: #50623A;  
    --accent-color: #789461;     
    --header-color: #DBE7C9;     
    --text-color: #FFFFFF;       
}



nav {
    background-color: var(--header-color); /* Apply the header color variable */
 }

header a.nav-link {
    color: var(--primary-color); /* Or any color that provides good contrast */
}

/* Changing the active link color for better visibility */
header a.nav-link.active {
    background-color: var(--primary-color);
    color: var(--header-color);
}

body {
    padding-top: 100px; /* Adjust this value to at least the height of your navbar */
    color: var(--primary-color);
}


@media (max-width: 768px) {
    body {
        padding-top: 120px; /* Increased padding for smaller screens if necessary */
        color: var(--primary-color);
    }
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Adjusting the button colors on hover */
.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* Customizing backgrounds and colors for specific sections or features */
.feature-section {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.highlight-text {
    color: var(--accent-color);
}

.testimonials img {
    width: 100px; /* Adjust as necessary */
    height: 100px; /* Adjust as necessary */
    object-fit: cover; /* Keeps the aspect ratio while filling the area */
}

h2 {
    font-size: 2.5rem;
}

